:root {

    --bg-1: rgb(10, 8, 13);
    --bg-2: oklch(0.24 0.02 290);

    background-color: oklch(0.3 0 0);
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;

}

html, body {

    background: linear-gradient(180deg, var(--bg-1) 0%, var(--bg-2) 60%);
    height: 100%;
    margin: 0;
    padding: 0;

}

div, p, span {

    color: white;

}

#parent {

    position: relative;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}

#input-box {

    position: fixed;
    width: 40%;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: large;
    z-index: 100;

}

#send {

    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0%, -50%);

}

#send:hover {

    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.559);

}

#chats {

    width: 40%;
    margin-top: 50px;
    margin-bottom: 150px;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 20px;

}

#chats::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}
#chats::-webkit-scrollbar-track {
   background-color: transparent;
}
#chats::-webkit-scrollbar-thumb {
    background: oklch(0.3 0.02 290);
    border-radius: 10px;
}



.bot-message {

    width: fit-content;
    max-width: 78%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50px 1fr;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
    overflow-wrap: break-word;

}

.bot-message > div {

    align-self: center;
    margin-top: 1px;

}

.bot-message > svg {

    justify-self: center;
    align-self: start;

}

.user-message {

    border-radius: 10px 0 10px 10px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 12px;
    margin-top: 20px;
    text-align: right;
    width: fit-content;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
    margin-left: auto;
    overflow-wrap: break-word;
    max-width: 78%;

}

.loading-indicator {

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    animation: fade-in-out 1.5s ease-out 0.25s infinite alternate;
    opacity: 0;
    animation-timing-function: ease-out;

}

@keyframes fade-in-out {

    100% {
        opacity: 1;
        scale: 100%;
    }
    0% {
        opacity: 0;
        scale: 50%;
    }


}